.nav {
  grid-area: nav;
  background: linear-gradient(
    to right,
    var(--light-purple-nav),
    var(--deep-purple-nav)
  );
  color: var(--white);
  display: none;
}

@media (max-width: 1024px) {
  .nav {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.8em 1.2em;
  }

  .nav-logo-container {
    width: 40px;
  }

  .burger-menu {
    position: absolute;
    width: 40px;
    right: 20px;
    padding: 10px;
  }

  .burger-menu:hover {
    background: var(--hover-color);
    border-radius: 5px;
    cursor: pointer;
  }
}
